@model List<AudioShopFrontend.DTO.ProductDTO>

@foreach (var item in Model)
{
    <div class="" style="text-align:right;border:1px solid #d6cece;border-radius:1px;">
    <p style="margin:10px;direction:rtl"><a href="@string.Format("{0}/{1}/{2}",Url.Action("Product","Home"),item.ProductNumber,item.ProductName.Replace(' ','-'))" style="text-align:right;">@item.ProductName</a></p></div>
}
