
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu ForceRTL">
                    <li class="page-breadcrumb__nav"><a href="@Url.Action("Index")">خانه</a></li>
                    <li class="page-breadcrumb__nav active">درباره ما</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="about-top m-b-30">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img m-b-30">
                            <div class="img-responsive m-b-40">
                                <img src="@Url.Content("~/Content/assets/img/about/about-1.jpg")" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1 class="title title--large title--thin ForceRTL" style="text-align:right;">وب سایت carbass</h1>
                            <div class="para__content">
                                <p class="para__text">توضیح اجمالی در مورد حوزه فعالیت داده شود</p>
                                <p class="para__text">...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-single m-t-30">
                        <h3 class="title title--small title--regular">شعار ما</h3>
                        <div class="para__content">
                            <p class="para__text">جنگ جنگ تا پیروزی</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-single m-t-30">
                        <h3 class="title title--small title--regular">هدف ما</h3>
                        <div class="para__content">
                            <p class="para__text">به نام خدا پول در آوردن</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-single m-t-30">
                        <h3 class="title title--small title--regular">تیم ما</h3>
                        <div class="para__content">
                            <p class="para__text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
